<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="virtual_walls" >

<!-- define virtual walls to avoid collisions with the environment -->
<xacro:macro name="virtual_walls"
 params="origin_frame:=${'world'} ">

  <link name="virtual_wall_1">
    <!-- Inertial -->
    <inertial>
      <origin  xyz="0.0 0.0 -0.1" rpy="0 0 0" />
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <!-- Collision -->
    <!-- <collision>
      <origin  xyz="0.0 0.0 -0.1" rpy="0 0 0" />
      <geometry>
        <box size="2.0 3.0 0.2"/>
      </geometry>
    </collision> -->
    <!-- Visual -->
    <visual>
        <origin  xyz="0.0 0.0 -0.1" rpy="0 0 0" />
        <geometry>
          <box size="2.0 3.0 0.2"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 0.1" />
        </material>
    </visual>
  </link>


  <joint name="world_to_virtual_wall_1" type="fixed">
    <parent link = "${origin_frame}" />
    <child  link = "virtual_wall_1" />
    <origin xyz="0.0 0.0 0.9165" rpy="0 0 0" />
  </joint>

  <!-- yumi base -->
  <link name="virtual_wall_2">
    <!-- Inertial -->
    <inertial>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <!-- Collision -->
    <!-- <collision>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 1.2 2.0"/>
      </geometry>
    </collision> -->
    <!-- Visual -->
    <visual>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 1.2 2.0"/>
      </geometry>
        <material name="red">
          <color rgba="1 0 0 0.1" />
        </material>
    </visual>
  </link>


  <joint name="world_to_virtual_wall_2" type="fixed">
    <parent link = "${origin_frame}" />
    <child  link = "virtual_wall_2" />
    <origin xyz="-0.2 0.6 1.0" rpy="0 0 0" />
  </joint>

  <!-- yumi left arm -->
  <link name="virtual_wall_3">
    <!-- Inertial -->
    <inertial>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <!-- Collision -->
    <!-- <collision>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.3 2.0"/>
      </geometry>
    </collision> -->
    <!-- Visual -->
    <visual>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.3 2.0"/>
      </geometry>
        <material name="red">
          <color rgba="1 0 0 0.1" />
        </material>
    </visual>
  </link>

  <joint name="world_to_virtual_wall_3" type="fixed">
    <parent link = "${origin_frame}" />
    <child  link = "virtual_wall_3" />
    <origin xyz="-0.15 0.15 1.0" rpy="0 0 0" />
  </joint>

  <link name="pole_smartrobots_vertical">
    <!-- Inertial -->
    <inertial>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <!-- Collision -->
    <!-- <collision>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 1.9"/>
      </geometry>
    </collision> -->
    <!-- Visual -->
    <visual>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 1.9"/>
      </geometry>
        <material name="red">
          <color rgba="1 0 0 0.1" />
        </material>
    </visual>
  </link>

  <joint name="world_to_pole_smartrobots_vertical" type="fixed">
    <parent link = "${origin_frame}" />
    <child  link = "pole_smartrobots_vertical" />
    <origin xyz="-0.05 1.03 0.95" rpy="0 0 0" />
  </joint>

    <link name="pole_smartrobots_horizontal">
    <!-- Inertial -->
    <inertial>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <!-- Collision -->
    <!-- <collision>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 1.0 0.1"/>
      </geometry>
    </collision> -->
    <!-- Visual -->
    <visual>
      <origin  xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 1.0 0.1"/>
      </geometry>
        <material name="red">
          <color rgba="1 0 0 0.1" />
        </material>
    </visual>
  </link>

  <joint name="pole_smartrobots_vertical_to_horizontal" type="fixed">
    <parent link = "pole_smartrobots_vertical" />
    <child  link = "pole_smartrobots_horizontal" />
    <origin xyz="0.0 -0.5 0.95" rpy="0 0 0" />
  </joint>


    <gazebo reference="virtual_wall_1">
      <material>Gazebo/Red</material>
      <static>true</static>
    </gazebo>
    <gazebo reference="virtual_wall_2">
      <material>Gazebo/Red</material>
      <static>true</static>
    </gazebo>
    <gazebo reference="virtual_wall_3">
      <material>Gazebo/Red</material>
      <static>true</static>
    </gazebo>
    <gazebo reference="pole_smartrobots_vertical">
      <material>Gazebo/Red</material>
      <static>true</static>
    </gazebo>
    <gazebo reference="pole_smartrobots_horizontal">
      <material>Gazebo/Red</material>
      <static>true</static>
    </gazebo>
</xacro:macro>
</robot>
